video::-webkit-media-controls-volume-slider {
display:none;
}

video::-webkit-media-controls-mute-button {
display:none;
}


.video-container{
  position: relative;
  width: 100%;
  max-width: 800px; 
  margin: 0 auto;
}

.video{
  display: block;
  width: 100%;
  height: auto;
}

body{
  background-color: rgb(37, 33, 36);
  border-style: none;
  padding-top: 105px;
}

button{
  background-color: rgb(37, 33, 36);
}